@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Http
@{
    HttpContext context = Context.Request.HttpContext;
}
<!--breadcrumbs area start-->
<div class="breadcrumbs_area product_bread">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/Home">home</a></li>
                        <li>/</li>
                        <li>product details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--product details start-->
<div class="product_details">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <div class="product-details-tab">

                    <div id="img-1" class="zoomWrapper single-zoom">
                        <a href="#">
                            <img style="width:526px; height:526px;" id="zoom1" src="@ViewBag.product.ImageFront" data-zoom-image="@ViewBag.product.ImageFront" alt="big-1">
                        </a>
                    </div>

                    <div class="single-zoom-thumb">
                        <ul class="s-tab-zoom owl-carousel single-product-active" id="gallery_01">
                            <li>
                                <a href="#" class="elevatezoom-gallery active" data-update="" data-image="@ViewBag.product.ImageFront" data-zoom-image="@ViewBag.product.ImageFront">
                                    <img style="width:104.66px; height:104.66px;" src="@ViewBag.product.ImageFront" alt="zo-th-1" />
                                </a>

                            </li>
                            <li>
                                <a href="#" class="elevatezoom-gallery active" data-update="" data-image="@ViewBag.product.ImageBehind" data-zoom-image="@ViewBag.product.ImageBehind">
                                    <img style="width:104.66px; height:104.66px;" src="@ViewBag.product.ImageBehind" alt="zo-th-1" />
                                </a>

                            </li>
                            <li>
                                <a href="#" class="elevatezoom-gallery active" data-update="" data-image="@ViewBag.product.ImageLeft" data-zoom-image="@ViewBag.product.ImageLeft">
                                    <img style="width:104.66px; height:104.66px;" src="@ViewBag.product.ImageLeft" alt="zo-th-1" />
                                </a>

                            </li>
                            <li>
                                <a href="#" class="elevatezoom-gallery active" data-update="" data-image="@ViewBag.product.ImageRight" data-zoom-image="@ViewBag.product.ImageRight">
                                    <img style="width:104.66px; height:104.66px;" src="@ViewBag.product.ImageRight" alt="zo-th-1" />
                                </a>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="product_d_right">
                    <form method="POST" asp-action="AddToCart" asp-controller="Product">
                        <input hidden name="ProductId" value="@ViewBag.product.ProductId" />
                        <h1>@ViewBag.product.ProductName</h1>
                        <div class=" product_ratting">
                            <ul>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li class="review"><a href="#"> 1 review </a></li>
                                <li class="review"><a href="#"> Write a review </a></li>
                            </ul>
                        </div>
                        <div class="product_price">
                            <span class="current_price">@ViewBag.product.Price VNĐ</span>
                        </div>
                        <div class="product_desc">
                            <p>@ViewBag.product.Description</p>
                        </div>

                        <div class="product_variant color">
                            <h3>color</h3>
                            <select class="niceselect_option" id="color" name="ColorId">
                                @foreach (var color in ViewBag.listColor as SelectList)
                                {
                                    <option value="@color.Value">@color.Text</option>
                                }
                            </select>
                            
                        </div>
                        <div class="product_variant size">
                            <h3>size</h3>
                            <select class="niceselect_option" id="color1" name="SizeId">
                                @foreach (var size in ViewBag.listSize as SelectList)
                                {
                                    <option value="@size.Value">@size.Text</option>
                                }
                            </select>
                        </div>
                        <div class="product_variant quantity">
                            <label>quantity</label>
                            <input name="Quantity" min="1" max="100" value="1" type="number">
                            <button class="button" type="submit">add to cart</button>
                        </div>
                        <div class=" product_d_action">
                            <ul>
                                <li><a href="#" title="Add to wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i> Add to Wish List</a></li>
                                <li><a href="#" title="Add to Compare"><i class="fa fa-sliders" aria-hidden="true"></i> Compare this Product</a></li>
                            </ul>
                        </div>

                    </form>
                    <div class="priduct_social">
                        <h3>Share on:</h3>
                        <ul>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                            <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--product details end-->
<!--product info start-->
<div class="product_d_info">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product_d_inner">
                    <div class="product_info_button">
                        <ul class="nav" role="tablist">
                            <li>
                                <a class="active" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">More info</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#sheet" role="tab" aria-controls="sheet" aria-selected="false">Data sheet</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Reviews</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="info" role="tabpanel">
                            <div class="product_info_content">
                                <p>@ViewBag.product.Description</p>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="sheet" role="tabpanel">
                            <div class="product_d_table">
                                <form action="#">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="first_child">Name</td>
                                                <td>@ViewBag.product.ProductName</td>
                                            </tr>
                                            <tr>
                                                <td class="first_child">Price</td>
                                                <td>@ViewBag.product.Price VNĐ</td>
                                            </tr>
                                            <tr>
                                                <td class="first_child">Category</td>
                                                <td>@ViewBag.product.CategoryName</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                            <div class="product_info_content">
                                <p>@ViewBag.product.Description</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="reviews" role="tabpanel">
                            <div class="product_info_content">
                                <p>@ViewBag.product.Description</p>
                            </div>
                            <div class="product_info_inner">
                                <div class="product_ratting mb-10">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    </ul>
                                    <strong>Posthemes</strong>
                                    <p>09/07/2018</p>
                                </div>
                                <div class="product_demo">
                                    <strong>demo</strong>
                                    <p>That's OK!</p>
                                </div>
                            </div>
                            @if (context.Session.GetString("UserId") != "0")
                            {
                                <div class="product_review_form">
                                    <form action="#">
                                        <h2>Add a review </h2>
                                        <p>Your email address will not be published. Required fields are marked </p>
                                        <div class="row">
                                            <div class="col-12">
                                                <label for="review_comment">Your review </label>
                                                <textarea name="comment" id="review_comment"></textarea>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <label for="author">Name</label>
                                                <input id="author" type="text">

                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <label for="email">Email </label>
                                                <input id="email" type="text">
                                            </div>
                                        </div>
                                        <button type="submit">Submit</button>
                                    </form>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--product info end-->
<!--product section area start-->
<section class="product_section related_product">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h2>Related Products</h2>
                    <p>Contemporary, minimal and modern designs embody the Lavish Alice handwriting</p>
                </div>
            </div>
        </div>
        <div class="product_area">
            <div class="row">
                <div class="product_carousel product_three_column4 owl-carousel">
                    @foreach(var item in ViewBag.relatedProduct){
                        <div class="col-lg-3">
                            <div class="single_product">
                                <div class="product_thumb">
                                    <a class="primary_img" href="/Product?product_id=@item.ProductId"><img style="width: 301.5px; height: 301.5px;" src="@item.ImageFront" alt=""></a>
                                    <a class="secondary_img" href="/Product?product_id=@item.ProductId"><img style="width: 301.5px; height: 301.5px;" src="@item.ImageBehind" alt=""></a>
                                    <div class="product_action">
                                        <div class="hover_action">
                                            <a href="#"><i class="fa fa-plus"></i></a>
                                            <div class="action_button">
                                                <ul>

                                                    <li><a title="add to cart" href="cart.html"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                                                    <li><a href="wishlist.html" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>

                                                    <li><a href="compare.html" title="Add to Compare"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>

                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="quick_button">
                                        @*<a href="#" data-toggle="modal" data-target="#modal_box" title="quick_view">+ quick view</a>*@
                                        <a href="#" class="quick_view_btn" data-toggle="modal" data-target="#modal_box_show" data-product='@Json.Serialize(item)' title="Quick View">+ Quick View</a>

                                    </div>

                                    <div class="product_sale">
                                        <span>-@item.Discount%</span>
                                    </div>
                                </div>
                                <div class="product_content">
                                    <h3><a href="/Product?product_id=@item.ProductId">@item.ProductName</a></h3>
                                    <span class="current_price">@((item.Price * (100 - item.Discount)) / 100) VNĐ</span>
                                    <span class="old_price">@item.Price VNĐ</span>
                                </div>
                            </div>
                        </div>

                    }
                    
                </div>
            </div>
        </div>

    </div>
</section>
<!--product section area end-->
<!--product section area start-->
<section class="product_section upsell_product">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h2>Upsell Products</h2>
                    <p>Contemporary, minimal and modern designs embody the Lavish Alice handwriting</p>
                </div>
            </div>
        </div>
        <div class="product_area">
            <div class="row">
                <div class="product_carousel product_three_column4 owl-carousel">
                    @foreach (var item in ViewBag.upSellProduct)
                    {
                        <div class="col-lg-3">
                            <div class="single_product">
                                <div class="product_thumb">
                                    <a class="primary_img" href="/Product?product_id=@item.ProductId"><img style="width: 301.5px; height: 301.5px;" src="@item.ImageFront" alt=""></a>
                                    <a class="secondary_img" href="/Product?product_id=@item.ProductId"><img style="width: 301.5px; height: 301.5px;" src="@item.ImageBehind" alt=""></a>
                                    <div class="product_action">
                                        <div class="hover_action">
                                            <a href="#"><i class="fa fa-plus"></i></a>
                                            <div class="action_button">
                                                <ul>

                                                    <li><a title="add to cart" href="cart.html"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                                                    <li><a href="wishlist.html" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>

                                                    <li><a href="compare.html" title="Add to Compare"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>

                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="quick_button">
                                        <a href="#" class="quick_view_btn" data-toggle="modal" data-target="#modal_box_show" data-product='@Json.Serialize(item)' title="Quick View">+ Quick View</a>
                                    </div>

                                    <div class="product_sale">
                                        <span>-@item.Discount%</span>
                                    </div>
                                </div>
                                <div class="product_content">
                                    <h3><a href="/Product?product_id=@item.ProductId">@item.ProductName</a></h3>
                                    <span class="current_price">@((item.Price * (100 - item.Discount)) / 100) VNĐ</span>
                                    <span class="old_price">@item.Price VNĐ</span>
                                </div>
                            </div>
                        </div>
                    }
                    
                </div>
            </div>
        </div>

    </div>
</section>
<!--product section area end-->
<!-- modal area start-->
<div class="modal fade" id="modal_box_show" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal_body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <div class="modal_tab">
                                <div class="tab-content product-details-large">
                                    <div class="tab1 tab-pane fade show active" id="tab1" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img style="width: 354.83px; height: 354.83px;" src="~/img/product/product4.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="tab2 tab-pane fade" id="tab2" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img style="width: 354.83px; height: 354.83px;" src="~/img/product/product6.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="tab3 tab-pane fade" id="tab3" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img style="width: 354.83px; height: 354.83px;" src="~/img/product/product8.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="tab4 tab-pane fade" id="tab4" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img style="width: 354.83px; height: 354.83px;" src="~/img/product/product2.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="tab5 tab-pane fade" id="tab5" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img style="width: 354.83px; height: 354.83px;" src="~/img/product/product12.jpg" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal_tab_button">
                                    <ul class="nav product_navactive owl-carousel" role="tablist">
                                        <li>
                                            <a class="tab1 nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="false"><img style="width:80.75px; height:80.75px" src="~/img/s-product/product3.jpg" alt=""></a>
                                        </li>
                                        <li>
                                            <a class="tab2 nav-link" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false"><img style="width:80.75px; height:80.75px" src="~/img/s-product/product.jpg" alt=""></a>
                                        </li>
                                        <li>
                                            <a class="tab3 nav-link button_three" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false"><img style="width:80.75px; height:80.75px" src="~/img/s-product/product2.jpg" alt=""></a>
                                        </li>
                                        <li>
                                            <a class="tab4 nav-link" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab4" aria-selected="false"><img style="width:80.75px; height:80.75px" src="~/img/s-product/product4.jpg" alt=""></a>
                                        </li>
                                        <li>
                                            <a class="tab5 nav-link" data-toggle="tab" href="#tab5" role="tab" aria-controls="tab5" aria-selected="false"><img style="width:80.75px; height:80.75px" src="~/img/s-product/product5.jpg" alt=""></a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12">
                            <div class="modal_right">
                                <div class="modal_title mb-10">
                                    <h2>Handbag feugiat</h2>
                                </div>
                                <div class="modal_price mb-10">
                                    <span class="new_price">$64.99</span>
                                    <span class="old_price">$78.99</span>
                                </div>
                                <div class="modal_description mb-15">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia iste laborum ad impedit pariatur esse optio tempora sint ullam autem deleniti nam in quos qui nemo ipsum numquam, reiciendis maiores quidem aperiam, rerum vel recusandae </p>
                                </div>
                                <div class="variants_selects">
                                    <div class="variants_size">
                                        <h2>size</h2>
                                        <select class="select_size select_option">
                                            <option selected value="1">s</option>
                                            <option value="1">m</option>
                                            <option value="1">l</option>
                                            <option value="1">xl</option>
                                            <option value="1">xxl</option>
                                        </select>
                                    </div>
                                    <div class="variants_color">
                                        <h2>color</h2>
                                        <select class="select_color select_option">
                                            
                                        </select>
                                    </div>
                                    <div class="modal_add_to_cart">
                                        <form action="#">
                                            <input min="0" max="100" step="2" value="1" type="number">
                                            <button type="submit">add to cart</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal_social">
                                    <h2>Share this product</h2>
                                    <ul>
                                        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var quickViewButtons = document.querySelectorAll('.quick_view_btn');
        quickViewButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                var productData = JSON.parse(this.getAttribute('data-product'));
                var modal = document.querySelector('#modal_box_show');
                console.log(productData);
                
                // Cập nhật thông tin trong modal
                modal.querySelector('.modal_title h2').textContent = productData.productName;
                modal.querySelector('.new_price').textContent = ((productData.price * (100 - productData.discount)) / 100) + ' VNĐ';
                modal.querySelector('.old_price').textContent = productData.price + ' VNĐ';
                modal.querySelector('.modal_description p').textContent = productData.description;
                //Cập nhật các tùy chọn khác tương tự...
                var tabContent = modal.querySelectorAll('.tab1').forEach(function(tabPane, index) {
                    tabPane.querySelector('img').src = productData.imageFront;
                });
                var tabContent = modal.querySelectorAll('.tab2').forEach(function(tabPane, index) {
                    tabPane.querySelector('img').src = productData.imageBehind;
                });
                var tabContent = modal.querySelectorAll('.tab3').forEach(function(tabPane, index) {
                    tabPane.querySelector('img').src = productData.imageFront;
                });
                var tabContent = modal.querySelectorAll('.tab4').forEach(function(tabPane, index) {
                    tabPane.querySelector('img').src = productData.imageRight;
                });
                var tabContent = modal.querySelectorAll('.tab5').forEach(function (tabPane, index) {
                    tabPane.querySelector('img').src = productData.imageLeft;
                });

                var colorSelect = modal.querySelector('.select_color');
                colorSelect.innerHTML = ''; // Xóa hết các option hiện tại (nếu có)

                // Thêm các option từ dữ liệu productData.Color
                productData.productColorDTOs.forEach(function (color) {
                    var option = document.createElement('option');
                    option.value = color.colorId;
                    option.textContent = color.colorName;
                    console.log(option.value);
                    console.log(option.textContent);
                    colorSelect.appendChild(option);
                });
                colorSelect.classList.add('select_option');
                colorSelect.classList.add('nice-select');
                colorSelect.style.display = 'block';
                console.log(colorSelect);

                var sizeSelect = modal.querySelector('.select_size');
                sizeSelect.innerHTML = ''; // Xóa hết các option hiện tại (nếu có)

                // Thêm các option từ dữ liệu productData.Color
                productData.productSizeDTOs.forEach(function (size) {
                    var option = document.createElement('option');
                    option.value = size.sizeId;
                    option.textContent = size.sizeName;
                    console.log(option.value);
                    console.log(option.textContent);
                    sizeSelect.appendChild(option);
                });
                sizeSelect.classList.add('select_option');
                sizeSelect.classList.add('nice-select');
                sizeSelect.style.display = 'block';
                console.log(sizeSelect);
                
                // Mở modal
                //modal.style.display = 'block';
            });
        });
    });
</script>
<style>
    .select_color {
        display:none;
    }
    .select_size{
        display: none;
    }
</style>

