@using DataAccess.DTO;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<OrderDetailDTO> OrderDetails = ViewBag.OrderDetails as List<OrderDetailDTO>;
    int PageNumber = int.Parse(ViewBag.pageNumber.ToString());
    int TotalPage = int.Parse(ViewBag.TotalPage.ToString());
    int PageSize = int.Parse(ViewBag.pageSize.ToString());
    int Count = 1;
}
<!--breadcrumbs area start-->
<div class="breadcrumbs_area other_bread">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/Home">home</a></li>
                        <li>/</li>
                        <li>order history</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!-- shopping cart area start -->
<div class="shopping_cart_area">
    <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table_desc">
                        <div class="cart_page table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product_remove">No</th>
                                        <th class="product_thumb">Image</th>
                                        <th class="product_name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product_quantity">Quantity</th>
                                        <th class="product_total">Order Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in @OrderDetails)
                                    {
                                        <tr>
                                            <td class="product_remove">@(Count++)</td>
                                            <td class="product_thumb"><img style="width:83px; height:98px;" src="@item.Image" alt=""></td>
                                            <td class="product_name"><a href="/Product?product_id=@item.ProductId"></a>@item.ProductName</td>
                                            <td class="product-price">@item.Price</td>
                                            <td class="product_quantity"><input readonly min="1" max="100" value="@item.Quantity" type="number"></td>
                                            <td class="product_total">@item.CreatedTime.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        <div style="float:right;" class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6">
            <div class="flex flex-1 justify-between sm:hidden">
                @if (PageNumber == 1)
                {
                    <span class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0">
                        <span class="sr-only">Previous</span>
                    </span>
                }
                else
                {
                    <a asp-controller="Order" asp-action="Index" asp-route-pageSize="@PageSize" asp-route-pageNumber="@(PageNumber-1)"
                       asp-route-userId="@ViewBag.userId" class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Previous</a>
                }
                @for (int i = 1; i <= TotalPage; i++)
                {
                    <a asp-controller="Order"
                       asp-action="Index"
                       asp-route-pageSize="@PageSize"
                       asp-route-pageNumber="@i"
                       asp-route-userId="@ViewBag.userId"
                       class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">@i</a>
                }
                @if (PageNumber == TotalPage)
                {
                    <span class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0">
                        <span class="sr-only">Next</span>
                    </span>
                }
                else
                {
                    <a asp-controller="Order" asp-action="Index" asp-route-pageSize="@PageSize" asp-route-pageNumber="@(PageNumber+1)"
                       asp-route-userId="@ViewBag.userId" class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Next</a>
                }

            </div>
        </div>
    </div>
</div>