@using DataAccess.DTO;
@using Microsoft.AspNetCore.Http
@using System.Text.Json;
@{
    string cartUrl = "https://localhost:7010/api/Cart";
    HttpClient httpClient = new HttpClient();
    HttpContext context = Context.Request.HttpContext;
    CartDTO cartDTO = null;
    decimal totalPrice = 0;
    int totalItem = 0;
    if (context.Session.GetString("UserId") != null)
    {
        if (context.Session.GetString("Cart") != null)
        {
            string cartJson = context.Session.GetString("Cart");
            cartDTO = System.Text.Json.JsonSerializer.Deserialize<CartDTO>(cartJson);
            foreach (var item in cartDTO.CartItemDTOs)
            {
                totalPrice += item.TotalPrice;
                totalItem += item.Quantity;
            }
            cartDTO.CartItemDTOs = cartDTO.CartItemDTOs.OrderByDescending(e => e.CreatedTime).Take(3).ToList();
            
        }
    }

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Fashion eCommerce HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico">
    <!-- CSS
    ========================= -->
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/css/plugins.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div>
        <!-- Main Wrapper Start -->
        <!--Offcanvas menu area start-->
        <div class="off_canvars_overlay">
        </div>
        <div class="offcanvas_menu">
            <div class="canvas_open">
                <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
            </div>
            <div class="offcanvas_menu_wrapper">
                <div class="canvas_close">
                    <a href="javascript:void(0)"><i class="ion-android-close"></i></a>
                </div>
                <div class="welcome_text">
                    <ul>
                        <li><span>Free Delivery:</span> Take advantage of our time to save event</li>
                        <li><span>Free Returns *</span> Satisfaction guaranteed</li>
                    </ul>
                </div>
                <div class="top_right">
                    <ul>
                        @if (context.Session.GetString("UserId") != null)
                        {
                            <li class="top_links">
                                <a href="#">@context.Session.GetString("Email") <i class="ion-chevron-down"></i></a>
                                <ul class="dropdown_links">
                                    <li><a href="/UserDetail?user_id=@Int32.Parse(context.Session.GetString("UserId"))">My Account </a></li>
                                    <li><a href="/Order?userId=@Int32.Parse(context.Session.GetString("UserId"))">Order History  </a></li>
                                    <li><a href="@Url.Action("Logout", "Login")">Log Out</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li><a href="/Login">Login</a></li>
                            <li>/</li>
                            <li><a href="/Login">Register</a></li>
                        }
                        <li class="language">
                            <a href="#"><img src="~/img/logo/language.png" alt=""> English <i class="ion-chevron-down"></i></a>
                            <ul class="dropdown_language">
                                <li><a href="#"><img src="~/img/logo/cigar.jpg" alt=""> French</a></li>
                                <li><a href="#"><img src="~/img/logo/language2.png" alt="">German</a></li>
                            </ul>
                        </li>
                        <li class="currency">
                            <a href="#">USD <i class="ion-chevron-down"></i></a>
                            <ul class="dropdown_currency">
                                <li><a href="#">EUR</a></li>
                                <li><a href="#">BRL</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="search_bar">
                    <form action="#">
                        <select class="select_option" name="select" id="categori">
                            <option selected value="1">All Categories</option>
                            <option value="2">Accessories</option>
                            <option value="3">Bridge</option>
                            <option value="4">Hub</option>
                            <option value="5">Repeater</option>
                            <option value="6">Switch</option>
                            <option value="7">Video Games</option>
                            <option value="8">PlayStation 3</option>
                            <option value="9">PlayStation 4</option>
                            <option value="10">Xbox 360</option>
                            <option value="11">Xbox One</option>
                        </select>
                        <input placeholder="Search entire store here..." type="text">
                        <button type="submit"><i class="ion-ios-search-strong"></i></button>
                    </form>
                </div>
                @if (context.Session.GetString("UserId") != null)
                {
                    <div class="cart_area">

                        <div class="cart_link">
                            @if(@totalItem >= 2){
                                <a href="#"><i class="test fa fa-shopping-basket"></i>@totalItem items </a>
                            }else{
                                <a href="#"><i class="test fa fa-shopping-basket"></i>@totalItem item </a>
                            }
                            <!--mini cart-->
                            <div class="mini_cart">
                                @if (context.Session.GetString("Cart") != null)
                                {
                                    @foreach (var item in cartDTO.CartItemDTOs)
                                    {
                                        <div class="cart_item top">
                                            <div class="cart_img">
                                                <a href="#"><img src="@item.ImageFront" alt=""></a>
                                            </div>
                                            <div class="cart_info">
                                                <a href="#">@item.ProductName</a>

                                                <span>@item.Quantity x @item.TotalPrice $</span>
                                                <span>@item.ColorName x @item.SizeName</span>
                                            </div>
                                            <div class="cart_remove">
                                                <a href="#"><i class="ion-android-close"></i></a>
                                            </div>
                                        </div>
                                    }
                                }
                            <div class="cart__table">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="text-left">Total :</td>
                                            <td class="text-right">@totalPrice $</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="cart_button view_cart">
                                    <a href="/Cart">View Cart</a>
                            </div>
                        </div>
                        <!--mini cart end-->
                    </div>
                </div>
                }

                <div id="menu" class="text-left ">
                    <ul class="offcanvas_main_menu">
                        <li class="menu-item-has-children">
                            <a href="/Home">Home</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="/Shop">Shop</a>
                            <ul class="sub-menu">
                                <li class="menu-item-has-children">
                                    <a href="#">Shop Layouts</a>
                                    <ul class="sub-menu">
                                        <li><a href="shop.html">shop</a></li>
                                        <li><a href="shop-fullwidth.html">Full Width</a></li>
                                        <li><a href="shop-fullwidth-list.html">Full Width list</a></li>
                                        <li><a href="shop-right-sidebar.html">Right Sidebar </a></li>
                                        <li><a href="shop-right-sidebar-list.html"> Right Sidebar list</a></li>
                                        <li><a href="shop-list.html">List View</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">other Pages</a>
                                    <ul class="sub-menu">
                                        <li><a href="portfolio.html">portfolio</a></li>
                                        <li><a href="portfolio-details.html">portfolio details</a></li>
                                        <li><a href="cart.html">cart</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                        <li><a href="my-account.html">my account</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Product Types</a>
                                    <ul class="sub-menu">
                                        <li><a href="product-details.html">product details</a></li>
                                        <li><a href="product-sidebar.html">product sidebar</a></li>
                                        <li><a href="product-grouped.html">product grouped</a></li>
                                        <li><a href="variable-product.html">product variable</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="/Blog">blog</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="/About">About Us</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="/Contact"> Contact Us</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="/Support"> Market Place</a>
                        </li>
                    </ul>
                </div>
                <div class="offcanvas_footer">
                    <span><a href="#"><i class="fa fa-envelope-o"></i> dundn21102001@gmail.com</a></span>
                    <ul>
                        <li class="facebook"><a href="#" onclick="shareOnFacebook('https://www.facebook.com/sharer/sharer.php?u=https://www.facebook.com/'); return false;"><i class="fa fa-facebook"></i></a></li>
                        <li class="twitter"><a href="#" onclick="shareOnFacebook('https://twitter.com/share?url=https://twitter.com/home'); return false;"><i class="fa fa-twitter"></i></a></li>
                        <li class="pinterest"><a href="#" onclick="shareOnFacebook('https://www.pinterest.com/pin/create/button/?url=https://www.pinterest.com/'); return false;"><i class="fa fa-pinterest-p"></i></a></li>
                        <li class="google-plus"><a href="#" onclick="shareOnFacebook('https://www.instagram.com/sharer.php?u=https://www.instagram.com/'); return false;"><i class="fa fa-instagram"></i></a></li>
                        <li class="linkedin"><a href="#" onclick="shareOnFacebook('https://www.linkedin.com/shareArticle?url=https://www.linkedin.com/feed/'); return false;"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Offcanvas menu area end-->
        <!--header area start-->
        <header class="header_area header_three">
            <!--header top start-->
            <div class="header_top">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-12">
                            <div class="welcome_text">
                                <ul>
                                    <li><span>Free Delivery:</span> Take advantage of our time to save event</li>
                                    <li><span>Free Returns *</span> Satisfaction guaranteed</li>
                                </ul>
                            </div>
                        </div>
                        @if (context.Session.GetString("UserId") != null)
                        {
                            <div class="col-lg-5 col-md-12">
                                <div class="top_right text-right">
                                    <ul>
                                        <li class="top_links">
                                            <a href="#">@context.Session.GetString("Email") <i class="ion-chevron-down"></i></a>
                                            <ul class="dropdown_links">
                                                <li><a href="/UserDetail?user_id=@Int32.Parse(context.Session.GetString("UserId"))">My Account </a></li>
                                                @if (context.Session.GetString("Role") == "3")
                                                {
                                                <li><a href="/Dashboard">Dashboard </a></li>
                                                }
                                                <li><a href="/Order?userId=@Int32.Parse(context.Session.GetString("UserId"))">Order History  </a></li>
                                                <li><a href="@Url.Action("Logout", "Login")">Log out</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-5 col-md-12">
                                <div class="top_right text-right">
                                    <a style="text-decoration:none; color:white;" href="/Login">Sign In </a>
                                    <a style="margin-left: 2px; text-decoration:none; color:white;" href="/Login">Sign Up </a>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
            <!--header top start-->
            <!--header middel start-->
            <div class="header_middel">
                <div class="container-fluid">
                    <div class="middel_inner">
                        <div class="row align-items-center">
                            <div class="col-lg-4">
                                <div class="search_bar">
                                    <form action="#">
                                        <input placeholder="Search entire store here..." type="text">
                                        <button type="submit"><i class="ion-ios-search-strong"></i></button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="logo">
                                    <a href="/Home"><img src="~/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            @if (context.Session.GetString("UserId") != null)
                            {
                                <div class="col-lg-4">
                                    <div class="cart_area">
                                        <div class="cart_link">
                                            @if (totalItem >= 2)
                                            {
                                                <a href="#"><i class="fa fa-shopping-basket"></i>@totalItem items</a>
                                            }
                                            else
                                            {
                                                <a href="#"><i class="fa fa-shopping-basket"></i>@totalItem item</a>
                                            }
                                            <!--mini cart-->
                                            <div class="mini_cart">
                                                @if (context.Session.GetString("Cart") != null)
                                                {
                                                    @foreach (var item in cartDTO.CartItemDTOs)
                                                    {
                                                        <div class="cart_item top">
                                                            <div class="cart_img">
                                                                <a href="#"><img style="width:83px; height:98px;" src="@item.ImageFront" alt=""></a>
                                                            </div>
                                                            <div class="cart_info">
                                                                <a href="#">@item.ProductName</a>
                                                                <span>@item.Quantity x @item.TotalPrice $</span>
                                                                <span>@item.ColorName x @item.SizeName</span>

                                                            </div>
                                                            @*<div class="cart_remove">
                                                                <button class="remove-btn" data-cartItemId="@item.CartItemId"><i class="ion-android-close"></i></button>
                                                            </div>*@
                                                        </div>
                                                    }
                                                    <button id="cartIdButton" hidden data-cart-id="@cartDTO.CartId"></button>
                                                }

                                                <div class="cart__table">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-left">Total :</td>
                                                                <td class="text-right">@totalPrice $</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <div class="cart_button view_cart">
                                                    <a href="/Cart">View Cart</a>
                                                </div>
                                            </div>
                                            <!--mini cart end-->
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                    <div class="horizontal_menu">
                        <div class="left_menu">
                            <div class="main_menu">
                                <nav>
                                    <ul>
                                        <li>
                                            <a href="/Home">Home</a>
                                        </li>
                                        <li class="mega_items">
                                            <a href="/Shop">shop <i class="fa fa-angle-down"></i></a>
                                            <ul class="mega_menu">
                                                <li>
                                                    <a href="#">Shop Layouts</a>
                                                    <ul>
                                                        <li><a href="shop-fullwidth.html">Full Width</a></li>
                                                        <li><a href="shop-fullwidth-list.html">Full Width list</a></li>
                                                        <li><a href="shop-right-sidebar.html">Right Sidebar </a></li>
                                                        <li><a href="shop-right-sidebar-list.html"> Right Sidebar list</a></li>
                                                        <li><a href="shop-list.html">List View</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">other Pages</a>
                                                    <ul>
                                                        <li><a href="portfolio.html">portfolio</a></li>
                                                        <li><a href="portfolio-details.html">portfolio details</a></li>
                                                        <li><a href="cart.html">cart</a></li>
                                                        <li><a href="checkout.html">Checkout</a></li>
                                                        <li><a href="my-account.html">my account</a></li>


                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">Product Types</a>
                                                    <ul>
                                                        <li><a href="product-details.html">product details</a></li>
                                                        <li><a href="product-sidebar.html">product sidebar</a></li>
                                                        <li><a href="product-gallery.html">product gallery</a></li>
                                                        <li><a href="product-grouped.html">product grouped</a></li>
                                                        <li><a href="variable-product.html">product variable</a></li>

                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">collection</a>
                                                    <ul>
                                                        <li><a href="shop.html">Handbag</a></li>
                                                        <li><a href="shop.html">Accessories</a></li>
                                                        <li><a href="shop.html">Clothing</a></li>
                                                        <li><a href="shop.html">Shoes</a></li>
                                                        <li><a href="shop.html">Check Trousers</a></li>

                                                    </ul>
                                                </li>
                                                <li class="banner_menu"><a href="#"><img src="~/img/bg/banner1.jpg" alt=""></a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/Blog">blog</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="logo_container">
                            <a href="/Home"><img src="~/img/logo/logo.png" alt=""></a>
                        </div>
                        <div class="right_menu">
                            <div class="main_menu">
                                <nav>
                                    <ul>
                                        <li><a href="/About">About us</a></li>
                                        <li><a href="/Contact">Contact Us</a></li>
                                        <li><a href="/Support">Market Place</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--header middel end-->
            <!--header bottom satrt-->
            <div class="header_bottom sticky-header">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="main_menu_inner">
                                <div class="main_menu">
                                    <nav>
                                        <ul>
                                            <li class="active"><a href="/Home">Home </a></li>
                                            <li><a href="/Shop">shop </a></li>
                                            <li><a href="/Blog">blog</a></li>
                                            <li><a href="/About">About us</a></li>
                                            <li><a href="/Contact">Contact Us</a></li>
                                            <li><a href="/Support">Market Place</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--header bottom end-->
        </header>
        <!--header area end-->
        @RenderBody()

    </div>

    <footer class="footer_widgets">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-6 col-sm-6 col-6">
                        <div class="widgets_container">
                            <h3>Information</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="#">Delivery Information</a></li>
                                    <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                    <li><a href="#">Returns</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6 col-6">
                        <div class="widgets_container">
                            <h3>Extras</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="#">Brands</a></li>
                                    <li><a href="#">Gift Certificates</a></li>
                                    <li><a href="#">Affiliate</a></li>
                                    <li><a href="#">Specials</a></li>
                                    <li><a href="contact.html">Site Map</a></li>
                                    <li><a href="my-account.html">My Account</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="widgets_container contact_us">
                            <h3>Contact Us</h3>
                            <div class="footer_contact">
                                <p>Address: 6688 Princess Road, London, Greater London BAS 23JK, UK</p>
                                <p>Phone: <a href="tel:+(+012)800456789-987">(+012) 800 456 789 - 987</a> </p>
                                <p>Email: ducdn21102001@gmail.com</p>
                                <ul>
                                    <li><a href="#" onclick="shareOnFacebook('https://twitter.com/share?url=https://twitter.com/home'); return false;" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" onclick="shareOnFacebook('https://www.instagram.com/sharer.php?u=https://www.instagram.com/'); return false;" title="google-plus"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#" onclick="shareOnFacebook('https://www.facebook.com/sharer/sharer.php?u=https://www.facebook.com/'); return false;" title="facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" onclick="shareOnFacebook('https://www.linkedin.com/shareArticle?url=https://www.linkedin.com/feed/'); return false;" title="youtube"><i class="fa fa-linkedin"></i></a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="widgets_container newsletter">
                            <h3>Join Our Newsletter Now</h3>
                            <div class="newleter-content">
                                <p>Exceptional quality. Ethical factories. Sign up to enjoy free U.S. shipping and returns on your first order.</p>
                                <div class="subscribe_form">
                                    <form id="mc-form" class="mc-form footer-newsletter">
                                        <input id="mc-email" type="email" autocomplete="off" placeholder="Enter you email address here..." />
                                        <button id="mc-submit">Subscribe !</button>
                                    </form>
                                    <!-- mailchimp-alerts Start -->
                                    <div class="mailchimp-alerts text-centre">
                                        <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                        <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                        <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                                    </div><!-- mailchimp-alerts end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="copyright_area">
                            <p> &copy; 2021 <strong> </strong> Mede with ❤️ by <a href="https://www.facebook.com/nhatduc2110/" target="_blank"><strong>NhatDuck</strong></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script>
        function shareOnFacebook(link) {
            // Mở cửa sổ pop-up chia sẻ
            window.open(link, "_blank", "width=600,height=400");
        }

    </script>

    <!-- JS
    ============================================ -->
    <!-- Plugins JS -->
    <script src="~/js/plugins.js"></script>

    <!-- Main JS -->
    <script src="~/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

