@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int PageNumber = int.Parse(ViewBag.pageNumber.ToString());
    int TotalPage = int.Parse(ViewBag.TotalPage.ToString());
    int PageSize = int.Parse(ViewBag.pageSize.ToString());
    int Count = 1;
    HttpContext context = Context.Request.HttpContext;
}
<!--breadcrumbs area start-->
<div class="breadcrumbs_area other_bread">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/Home">home</a></li>
                        <li>/</li>
                        <li>blog</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--blog body area start-->
<div class="blog_area blog_page blog_reverse">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <!--blog sidebar start-->
                <aside class="blog_sidebar">
                    <!--search form start-->
                    <div class="sidebar_widget search_form">
                        <form action="Blog" method="get">
                            <input name="search" value="@ViewBag.search" placeholder="Search..." type="text">
                            <input style="display:none;" name="categoryId" value="@ViewBag.categoryId" />
                            <input style="display:none;" name="pageSize" value="@PageSize" />
                            <input style="display:none;" name="pageNumber" value="@PageNumber" />
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <!--search form end-->
                    <!--categories start-->
                    <div class="sidebar_widget widget_categories">
                        <h3 class="widget_title">Categories</h3>
                        <ul>
                            @foreach(var item in ViewBag.categories)
                            {
                                <li>
                                    <a asp-controller="Blog"
                                       asp-action="Index"
                                       asp-route-pageSize="@PageSize"
                                       asp-route-pageNumber="@PageNumber"
                                       asp-route-categoryId="@item.CategoryId"
                                       asp-route-search="@ViewBag.search" >@item.CategoryName (@(Count++)) </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <!--categories end-->
                    <!--recent post start-->
                    <div class="sidebar_widget recent_post">
                        <h3 class="widget_title">Recent Posts</h3>
                        @foreach (var item in ViewBag.listTopBlog)
                        {
                            <div class="sidebar_post">
                                <div class="post_img">
                                    <a href="/BlogDetail?blogId=@item.BlogId"><img style="width:55px; height:31.44px;" src="@item.Image" alt=""></a>
                                </div>
                                <div class="post_text">
                                    <h3><a href="/BlogDetail?blogId=@item.BlogId">@item.BlogName</a></h3>
                                    <span>@item.CreatedTime.ToString("dd/MM/yyyy")</span>
                                </div>

                            </div>
                        }
                    </div>
                    <!--recent post end-->

                </aside>

                <!--blog sidebar start-->
            </div>
            <div class="col-lg-9 col-md-12">
                @if(context.Session.GetString("UserId") != null)
                {
                    <div style="margin-bottom:86px;">
                        <a style="float:right; background-color: gray; padding: 5px 30px; text-decoration:none; color:white; border-radius: 10px;" href="/WriteBlog"><img style="width:19px; height:14px;" src="https://www.pngitem.com/pimgs/m/255-2557444_write-icon-hd-png-download.png"> Write</a>
                    </div>
                }
                <!--blog grid area start-->
                <div class="blog_grid_area">
                    @foreach(var item in ViewBag.blogs)
                    {
                        <div class="blog_grid">
                            <div class="blog_thumb">
                                <a href="/BlogDetail?blogId=@item.BlogId"><img style="width:386.39px;height:220.86px;" src="@item.Image" alt=""></a>
                            </div>
                            <div class="blog_content">
                                <div class="post_date">
                                    <span class="day">@item.CreatedTime.Day</span>
                                    <span class="month">/ @item.CreatedTime.Month</span>
                                </div>
                                <h3 class="post_title"><a href="/BlogDetail?blogId=@item.BlogId">@item.BlogName</a></h3>
                                <p class="post_desc">@item.Content.Substring(0, 200)</p>
                                <a class="read_more" href="/BlogDetail?blogId=@item.BlogId">read more</a>
                                <div class="post_meta">
                                    <span>Posted by </span>
                                    <span><a href="#">@item.UserName</a></span>
                                    <span><a href="#">/ WordPress</a></span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!--blog grid area start-->
            </div>
        </div>
        <div style="float:right;" class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6">
            <div class="flex flex-1 justify-between sm:hidden">
                @if (PageNumber == 1)
                {
                    <span class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0">
                        <span class="sr-only">Previous</span>
                    </span>
                }
                else
                {
                    <a asp-controller="Blog" asp-action="Index" asp-route-pageSize="@PageSize" asp-route-pageNumber="@(PageNumber-1)" asp-route-categoryId="@ViewBag.CategoryId"
                       asp-route-search="@ViewBag.search" class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Previous</a>
                }
                @for (int i = 1; i <= TotalPage; i++)
                {
                    <a asp-controller="Blog"
                       asp-action="Index"
                       asp-route-pageSize="@PageSize"
                       asp-route-pageNumber="@i"
                       asp-route-categoryId="@ViewBag.CategoryId"
                       asp-route-search="@ViewBag.search"
                       class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">@i</a>
                }
                @if (PageNumber == TotalPage)
                {
                    <span class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0">
                        <span class="sr-only">Next</span>
                    </span>
                }
                else
                {
                    <a asp-controller="Blog" asp-action="Index" asp-route-pageSize="@PageSize" asp-route-pageNumber="@(PageNumber+1)" asp-route-categoryId="@ViewBag.CategoryId"
                       asp-route-search="@ViewBag.search" class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Next</a>
                }

            </div>
        </div>
    </div>
</div>
<!--blog section area end-->
<!--blog pagination area start-->

<!--blog pagination area end-->